@CHARSET "UTF-8";
#helloTaskManager {
	background-color:	dodgerblue;
	height:				40px;
	overflow-y:			auto;
}

#startIcon {
	background-color:	coral;
}

#helloTaskManager div.taskButton {
	background-color:	limegreen;
	margin:				0px 5px 0px 5px;
}

#helloTaskManager div {
	float:		left;
	display:	inline;
	width:		50px;
	height:		30px;
}