@CHARSET "UTF-8";
table {
	float:				left;
	background-color:	white;
	padding:			0px;
	width:				100px;
}

td {
	background-color:	blue;
}

td.yellowClass {
	background-color:	orange;
}

td.blueClass {
	background-color:	yellow;
}