<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HelloSmartClient.Properties.Settings.HelloConnectionString"
            connectionString="Data Source=220.149.36.36,1456;Initial Catalog=Hello;User ID=hello;Password=magneto"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>